<div>
    <div>
        <h3 class="dashboardcss">{{story.title}}
            <small>{{{editIcon story.user user story._id false}}}</small>
        </h3>
        <section class="font-title-readmore">
            <section>
                    <img src="{{story.user.image}}" class="circle-image" alt="Image cant be displayed">
            </section>
            <section>
                    <span>{{story.user.displayName}}</span>
            </section>
            <section>
                <a href="/stories/user/{{story.user._id}}">More From {{story.user.firstName}}</a>
            </section>
        </section>
        <section>
            <section  class="all-margin">
                    <span>{{formatDate story.createdAt 'MM Do YYYY, h:mm:ss a'}}</span> 
            </section>
            <article class="all-margin">
                {{{story.body}}}
            </article>
        </section>
    </div>
</div>
